<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Just basic html, this page has no complex functionality, it's purpose is to developed the basic info about the app-->
<ion-content>
  <ion-grid no-padding>
    <ion-row >
      <ion-col class="flex">
        <ion-list>
          <ion-item>
            <ion-icon name="pricetag"></ion-icon>
            <strong>App Name:</strong> WeatherApp 
          </ion-item>
          <ion-item>
            <ion-icon name="qr-code"></ion-icon>
            <strong>Version:</strong> 1.0.2
          </ion-item>
          <ion-item>
            <ion-icon name="reader"></ion-icon>
            <strong>Description:</strong> Simple Weather App
          </ion-item>
          <ion-item>
            <ion-icon name="school"></ion-icon>
            <strong>Developer:</strong> Wojciech Pogorzelski
          </ion-item>
          <ion-item class="desc">
            <ion-icon name="logo-github"></ion-icon>
            <strong>Github:</strong> https://github.com/wojtekpogo/WeatherApp
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
