ion-content ion-toolbar {
  --background: translucent;
}

ion-grid{
  align-content: center;
}

.flex{
  display: flex;
    justify-content: center;
    align-items: center;
    
  
       
    
}

ion-list{
  border-radius: 20px;
  border: 1px solid black;

}

