
<body>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="flex">
        <ion-list>
          
          <form (ngSubmit)="saveLocation()">
            <ion-item>
              <ion-icon name="business"></ion-icon>
              <ion-label>
                <strong>City:</strong>
              </ion-label>
              <!--2 way data binding-->
              <ion-input [(ngModel)]="city" name="city" type="text" placeholder="Enter City"></ion-input>
              <ion-button type="submit" color="success" block [routerLink]="['/tabs/tab1']" routerDirection="forward">Save Location</ion-button>
            </ion-item>
            <ion-item>
            <ion-icon name="paper-plane"></ion-icon>
            <ion-label>
              <strong>Go to location page</strong>
            </ion-label>
              <ion-button color="success" (click)="openGeolocalPage()">Location</ion-button>
          </ion-item>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

</body>
